@{
    ViewBag.Title = "Game Types";
}
<h2 class="text-center mt-5 mb-5">@ViewBag.Title</h2>
<table class="table table-dark">
    <thead>
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
        <th>Name</th>
        <th>Update/Remove</th>
    }
        </thead>
        <tbody>
            @foreach (var gameType in ViewBag.GameTypes)
            {
                <tr>
                    <td class>@gameType.Name</td>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <td>
                            @using (Html.BeginForm(actionName: "Edit", controllerName: "GameType", method:
                           FormMethod.Get,
                            routeValues: new { id = gameType.GameTypeId }))
                            {
                                <button type="submit" class="btn btn-link ml-3">Update</button>
                            }
                            @using (Html.BeginForm(actionName: "Delete", controllerName: "GameType", method:
                           FormMethod.Post,
                            routeValues: new { id = gameType.GameTypeId }))
                            {
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button type="submit" class="btn btn-link ml-3">Remove</button>
                            }
                        </td>
}
                </tr>
            }
        </tbody>
    </table>
    <br />
    @if (ViewContext.HttpContext.User.IsInRole("Admin")){ 
        <button class="btn btn-outline-dark">@Html.ActionLink("Add game type", "New")</button>}